@media (max-width: 450px) {

    body {
        width: auto ;
    }
   
 

    main .main-input {
        width: 380px;
        margin: 0 auto;
        margin-bottom: 35px;
    }
    main .main-input-container {
        width: 375px;
        border-radius: 100px;
        border: 1px solid #dfe1e5;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main .main-input input {
        width: 300px;
        height: 40px;
        border: none;
        outline: none;
    }

    main .main-logo {
        display: flex;
        justify-content: flex-start;
        margin-left: 2.5rem;
    }


    main .main-buttons {
       padding-right: 7rem;
    }
   
   
    footer {
       display: flex;
   }




}